.navbar {
  @include media(phone) {
    height: 60px !important;
    line-height: 60px !important;
  }
  //navbar menu
  &__menu {
    &--items {
      @include media(phone) {
        display: none;
      }
    }
    &--title {
      @include media(phone) {
        font-size: 16px;
      }
    }
    &-scrolled {
      @include media(phone) {
        padding-left: 14px;
      }
    }
  }
}
// Show button burger menu on phone
.burgerMenu__btn--open {
  @include media(phone) {
    display: flex;
  }
}


/* Only For demo*/
body {
  @include media(phone) {
    background-color: rgba($dark-theme-color, 0.5);
  }
}

.demo {
  @include media(phone) {
    margin-top: 0;
  }
}
