/*----DEMO----*/

.demo {
  height: 500px;
  padding: 100px;
  margin-top: 150px;
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 550px;
    & h2{
        font-size: 30px;
    }
  }
}

footer {
  height: 200px;
  background: #333;
  color: #fff;
  padding-top: 40px;
}
