//COMMON VARIABLES
$color-none: rgba(0,0,0,0);
$dark-theme-color: #1c1c1c;
$light-theme-color: #fff;
$theme-color: #4caf50;
$theme-color1: #00bd9d;
$theme-color2: #832161;
$theme-color3: #fe9000;
$theme-color4: #d72638;
$accent-theme-color5: #fc448d;
