html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: $light-theme-color;
  text-transform: uppercase;
  font-size: 14px;
}
.page__content {
  position: relative;
}


.page__content {
  min-height: 100vh;

  background-color: $light-theme-color;
}

/* navigation styles */
$nav-width: 300px;
$nav-bg: $dark-theme-color;
$nav-padding: 30px;

$nav-list-offset-vert: 45px;

$nav-item-offset-vert: 20px;

$nav-icon-offset-horz: 10px;

.nav {
  position: fixed;
  top: 0;
  bottom: 0;

  width: $nav-width;
  padding: $nav-padding;
  box-sizing: border-box;

  background-color: $nav-bg;
  box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.14), 1px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 4px -1px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;

  z-index: 500;
}

/* nav list styles */
.nav__list {
  position: relative;

  padding: 0;
  margin: $nav-list-offset-vert 0 0 0;

  list-style-type: none;
}

/* nav item styles */
.nav__item {
  &:not(:last-child) {
    margin-bottom: $nav-item-offset-vert;
  }
}

/* nav link styles */
.nav__link {
  @include transition-mix;

  display: inline-flex;
  align-items: center;

  color: $light-theme-color;
  text-decoration: none;

  &:hover {
    color: $theme-color3;
  }
}

/* nav link icon styles */
.nav__link-icon {
  position: relative;
  top: -3px; /* !!!use only with material design icons */

  margin-right: $nav-icon-offset-horz;

  color: currentColor;
}

/* close icon styles */
.nav__close {
  @include position-absolute($top: $nav-padding, $right: $nav-padding);

  width: 40px;
  height: 25px;

  cursor: pointer;

  /* close icon elements */
  &:before,
  &:after {
    @include transition-mix;

    display: block;
    width: 4px;
    height: 28px;
    border-radius: 10px;

    content: "";

    transform-origin: center center;
    background-color: $light-theme-color;
  }

  &:before {
    @include position-absolute($top: 0, $left: 18px);
    transform: rotate(-45deg);
  }

  &:after {
    @include position-absolute($top: 0, $right: 18px);
    transform: rotate(45deg);
  }

  /* hover effect */
  &:hover {
    &:before,
    &:after {
      background-color: $theme-color3;
    }
  }
}

/* nav open btn styles */
$nav-open-btn-vert-offset: 30px;
$nav-open-btn-horz-offset: 30px;

.nav-open-btn {
  //show only with media Phone
  display: none;
  //@include position-absolute($top: $nav-open-btn-vert-offset, $left: $nav-open-btn-horz-offset);
  @include transition-mix();

  width: 35px;
  height: 25px;

  overflow: hidden;
  cursor: pointer;

  //used to hide open btn when the nav is opened
  &.js-hidden {
    @include transition-mix($duration: 0s);

    opacity: 0;
    visibility: hidden;
  }
}

.nav-open-btn__bar {
  width: 100%;
  height: 5px;

  background-color: $dark-theme-color;
  border-radius: 20px;

  &:nth-child(1) {
    @include position-absolute($top: 0, $left: 0);
  }

  &:nth-child(2) {
    @include position-absolute($top: 10px, $left: 0);
  }

  &:nth-child(3) {
    @include position-absolute($top: 20px, $left: 0);
  }
}

/* Menu: styles */
.nav {
  @include transition-mix();

//MENU LEFT
  //left: (-$nav-width);
//MENU RIGHT
  right: (-$nav-width);


  /* opened styles */
  &.js-opened {
    //MENU LEFT
    //@include transition-mix($property: left);
    //left: 0;

    //MENU right
    @include transition-mix($property: right);
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

.page__content {
  @include transition-mix();

  transform: scale(1) translateX(0);

  &.js-opened {
    //Menu Left
    //transform: scale(0.8) translateX($nav-width / 2);
    //Menu Right
    transform: scale(0.6) translateX(-$nav-width / 2);
  }
}
