/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* HELPER*/
/* COMPONENT*/
/* line 1, ../sass/component/_burgermenu.scss */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* line 9, ../sass/component/_burgermenu.scss */
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 15, ../sass/component/_burgermenu.scss */
.page__content {
  position: relative;
}

/* line 20, ../sass/component/_burgermenu.scss */
.page__content {
  min-height: 100vh;
  background-color: #fff;
}

/* navigation styles */
/* line 37, ../sass/component/_burgermenu.scss */
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #1c1c1c;
  box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.14), 1px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 4px -1px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index: 500;
}

/* nav list styles */
/* line 56, ../sass/component/_burgermenu.scss */
.nav__list {
  position: relative;
  padding: 0;
  margin: 45px 0 0 0;
  list-style-type: none;
}

/* nav item styles */
/* line 67, ../sass/component/_burgermenu.scss */
.nav__item:not(:last-child) {
  margin-bottom: 20px;
}

/* nav link styles */
/* line 73, ../sass/component/_burgermenu.scss */
.nav__link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
/* line 82, ../sass/component/_burgermenu.scss */
.nav__link:hover {
  color: #fe9000;
}

/* nav link icon styles */
/* line 88, ../sass/component/_burgermenu.scss */
.nav__link-icon {
  position: relative;
  top: -3px;
  /* !!!use only with material design icons */
  margin-right: 10px;
  color: currentColor;
}

/* close icon styles */
/* line 98, ../sass/component/_burgermenu.scss */
.nav__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  /* close icon elements */
  /* hover effect */
}
/* line 107, ../sass/component/_burgermenu.scss */
.nav__close:before, .nav__close:after {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 4px;
  height: 28px;
  border-radius: 10px;
  content: "";
  transform-origin: center center;
  background-color: #fff;
}
/* line 122, ../sass/component/_burgermenu.scss */
.nav__close:before {
  position: absolute;
  top: 0;
  left: 18px;
  transform: rotate(-45deg);
}
/* line 127, ../sass/component/_burgermenu.scss */
.nav__close:after {
  position: absolute;
  top: 0;
  right: 18px;
  transform: rotate(45deg);
}
/* line 134, ../sass/component/_burgermenu.scss */
.nav__close:hover:before, .nav__close:hover:after {
  background-color: #fe9000;
}

/* nav open btn styles */
/* line 145, ../sass/component/_burgermenu.scss */
.nav-open-btn {
  display: none;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  width: 35px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
}
/* line 158, ../sass/component/_burgermenu.scss */
.nav-open-btn.js-hidden {
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
}

/* line 166, ../sass/component/_burgermenu.scss */
.nav-open-btn__bar {
  width: 100%;
  height: 5px;
  background-color: #1c1c1c;
  border-radius: 20px;
}
/* line 173, ../sass/component/_burgermenu.scss */
.nav-open-btn__bar:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 177, ../sass/component/_burgermenu.scss */
.nav-open-btn__bar:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 0;
}
/* line 181, ../sass/component/_burgermenu.scss */
.nav-open-btn__bar:nth-child(3) {
  position: absolute;
  top: 20px;
  left: 0;
}

/* Menu: styles */
/* line 187, ../sass/component/_burgermenu.scss */
.nav {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  right: -300px;
  /* opened styles */
}
/* line 197, ../sass/component/_burgermenu.scss */
.nav.js-opened {
  transition-property: right;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  right: 0;
  opacity: 1;
  visibility: visible;
}

/* line 210, ../sass/component/_burgermenu.scss */
.page__content {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1) translateX(0);
}
/* line 215, ../sass/component/_burgermenu.scss */
.page__content.js-opened {
  transform: scale(0.6) translateX(-150px);
}

/* line 1, ../sass/component/_navbar.scss */
body {
  margin: 0;
}

/* line 4, ../sass/component/_navbar.scss */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 150px;
  width: 100%;
  background: #00bd9d;
  box-shadow: 0 0 2px #00bd9d;
  color: #fff;
  line-height: 150px;
  -webkit-transition: height 0.5s, line-height 0.5s;
  /* Safari */
  transition: height 0.5s, line-height 0.5s;
  z-index: 100;
}

/* line 23, ../sass/component/_navbar.scss */
.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

/* line 29, ../sass/component/_navbar.scss */
.navbar__menu-right {
  position: relative;
}

/* line 32, ../sass/component/_navbar.scss */
.navbar__menu-title {
  display: inline-block;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  font-size: 40px;
}

/* line 39, ../sass/component/_navbar.scss */
.navbar-scrolled .navbar__menu-title {
  font-size: 16px;
}

/* line 43, ../sass/component/_navbar.scss */
.nav-list {
  list-style: none;
}

/* line 47, ../sass/component/_navbar.scss */
.nav-list li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

/* line 53, ../sass/component/_navbar.scss */
.navbar-scrolled {
  height: 60px !important;
  line-height: 60px !important;
  display: inline-block;
  padding-left: 50px;
  overflow: hidden;
}

/* only for demo*/
/* line 62, ../sass/component/_navbar.scss */
.hero-section,
.content-section {
  height: 500px;
  padding: 100px;
  margin-top: 150px;
}

/* line 69, ../sass/component/_navbar.scss */
.hero-text,
.content-text {
  max-width: 550px;
}

/* line 74, ../sass/component/_navbar.scss */
.hero-section h1 {
  color: #333;
}

/* line 78, ../sass/component/_navbar.scss */
.hero-section p {
  color: #333;
}

/* line 82, ../sass/component/_navbar.scss */
.content-section {
  background: aqua;
}

/* line 86, ../sass/component/_navbar.scss */
footer {
  height: 200px;
  background: #333;
  color: #fff;
  padding-top: 40px;
}

/*Responsiv*/
@media (max-width: 599px) {
  /* line 1, ../sass/responsiv/_media.scss */
  .navbar {
    height: 60px !important;
    line-height: 60px !important;
  }
}

@media (max-width: 599px) {
  /* line 7, ../sass/responsiv/_media.scss */
  .nav-list {
    display: none;
  }
}

@media (max-width: 599px) {
  /* line 13, ../sass/responsiv/_media.scss */
  .nav-open-btn {
    display: flex;
  }
}

@media (max-width: 599px) {
  /* line 18, ../sass/responsiv/_media.scss */
  .navbar__menu-title {
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  /* line 23, ../sass/responsiv/_media.scss */
  .navbar-scrolled {
    padding-left: 14px;
  }
}

/* Only For demo*/
@media (max-width: 599px) {
  /* line 30, ../sass/responsiv/_media.scss */
  body {
    background-color: rgba(28, 28, 28, 0.5);
  }
}

@media (max-width: 599px) {
  /* line 36, ../sass/responsiv/_media.scss */
  .hero-section,
  .content-section {
    margin-top: 0;
  }
}

/*# sourceMappingURL=screen.css.map */
